<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.elmahousingfinanceug_test">

    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".launch.App_Init"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:windowSoftInputMode="adjustPan"
        tools:replace="android:icon">
        <activity
            android:name=".launch.rao.DepositOptionsActivity"
            android:theme="@style/Theme_I" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".launch.Launch_Screen"
            android:theme="@style/Theme_I">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".launch.Login"
            android:theme="@style/Theme_I">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".recursiveClasses.ZNewSmsReceiver"
            android:exported="true"
            android:permission="com.google.android.gms.auth.api.phone.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".launch.RecreateKey_Send"
            android:theme="@style/Theme_I" />
        <activity
            android:name=".launch.RecreateKey_Verify"
            android:theme="@style/Theme_I" />
        <activity
            android:name=".main_Pages.ZAtmBranch"
            android:theme="@style/Theme_I" />
        <activity
            android:name=".launch.rao.AccountOpenSplash"
            android:theme="@style/Theme_I" />
        <activity
            android:name=".launch.rao.AccountOpenZMain"
            android:theme="@style/Theme_I" />
        
        <activity
            android:name=".launch.rao.AccountOpenZExistingCustomersMain"
            android:theme="@style/Theme_I" />
        <activity
            android:name=".launch.rao.ImagePickerActivity"
            android:theme="@style/Theme_I" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:theme="@style/Theme_I" /> <!-- uCrop cropping activity -->
        <activity
            android:name=".main_Pages.Branches_Page"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".main_Pages.ATM_Locations"
            android:screenOrientation="fullSensor" />
        <activity android:name=".recursiveClasses.SuccessDialogPage" />
        <activity android:name=".recursiveClasses.BaseAct" />
        <activity android:name=".main_Pages.Main_Menu" />
        <activity android:name=".main_Pages.Balance_Enquiry" />
        <activity android:name=".main_Pages.Bill_Pay_Options" />
        <activity android:name=".main_Pages.Mini_Statement" />
        <activity android:name=".main_Pages.Standing_Orders" />
        <activity android:name=".main_Pages.Mobile_Money" />
        <activity android:name=".main_Pages.Bank_Requests" />
        <activity android:name=".main_Pages.Bill_Payments" />
        <activity android:name=".main_Pages.Activity_Log" />
        <activity android:name=".main_Pages.Settings" />
        <activity android:name=".main_Pages.Profile" />
        <activity android:name=".main_Pages.About_Us" />
        <activity android:name=".main_Pages.Contact_Us" />
        <activity android:name=".main_Pages.Airtime_Services" />
        <activity android:name=".main_Pages.E_Statement" />
        <activity android:name=".main_Pages.Funds_Transfer" />
        <activity android:name=".main_Pages.Cheques" />
        <activity android:name=".main_Pages.ThemePreference" />
        <activity android:name=".main_Pages.School_Fees" />
        <activity android:name=".main_Pages.Funds_Transfer_External" />
        <activity android:name=".main_Pages.Mobile_Money_Two" />
    </application>

</manifest>